### react ###
.DS_Store
.DS_*
../.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
dist
.env
.env.*
.env.msw
.env.production
.env.development

stories
*storybook.log

.*cache
# Sentry Config File
.env.sentry-build-plugin


private*