### react ###
.DS_Store
.DS_*
../.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
user.json

node_modules
dist
.env
.env.*
.env.msw
.env.production
.env.development

stories
*storybook.log

.*cache
# Sentry Config File
.env.sentry-build-plugin


private*
test-results/
playwright-report/
blob-report/
playwright/.cache/
*/.auth
.auth
