@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*카카오 맵의 마커 위에 있는 인포의 스타일*/
#info-title {
  display: block;
  text-align: center;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  border-radius: 0.4rem;
  padding: 0rem 1rem;
}
